// This file is part of `pyfraglib`, a software suite to calculate fragmentomics
// features from cfDNA and perform downstream analyses.
//
// Copyright (C) 2024 Daniel Schütte, daniel.schuette@iccb-cologne.org
//
// This program is free software: you can redistribute it and/or modify it under
// the terms of the GNU General Public License as published by the Free Software
// Foundation, either version 3 of the License, or (at your option) any later
// version. This program is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
// FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
// more details. You should have received a copy of the GNU General Public
// License along with this program. If not, see <https://www.gnu.org/licenses/>.
params {
    user = "dschuet7"
    account = "ag-schwarzr"
    job_name = "pyfraglib-nf"
    work_dir = "/scratch/dschuet7/nf_work"
    log_dir = "/scratch/dschuet7/nf_log"
    out_dir = "/scratch/dschuet7/nf_out"

    // @NOTE(ds): Right now, the format is weird and redundant to our actual
    // sample sheet. We should homogenize this in the future.
    sample_tbl = "/projects/uk-lymphoma-cfdna/PCNSL/pyfrag_sample_sheet.tsv"

    // @NOTE(ds): Must be indexed and compressed (`pysam' requirement).
    //bed_file = "/projects/uk-lymphoma-cfdna/refs/loci_covered_by_panel_canonical_tss.bed.gz"
    bed_file = "/projects/uk-lymphoma-cfdna/refs/loci_covered_by_panel.bed.gz"
    gmm_config_file = "/home/dschuet7/code/pyfraglib/configs/gmm_3.json"

    // @NOTE(ds): The following parameters facilitate debugging. When set to
    // `true' at the command line, they will force the corresponding group of
    // processes to be executed even if results are already cached and
    // `-resume' is set.
    force_stage_data = false // sufficient to force everything
    force_extract = false
    force_stats = false
    force_lengths = false
    force_scores = false
}

workDir = "${params.work_dir}"

process {
    withLabel: "serial" {
        cpus = 2
        memory = 24.GB
    }
    withLabel: "parallel" {
        cpus = 8
        memory = 64.GB
    }
    withLabel: "huge_mem" {
        cpus = 8
        memory = 128.GB
    }
}

profiles {
    ramses {
        process.executor = "slurm"
        process.queue = "smp"
        process.clusterOptions = "--mail-user='${params.user}@uni-koeln.de' --mail-type=NONE -e ${params.log_dir}/${params.job_name}_%j.err -o ${params.log_dir}/${params.job_name}_%j.out"
        executor {
            account = "${params.account}"
            jobName = "${params.job_name}"
        }
        params.conda_env = "/projects/uk-lymphoma-cfdna/conda_envs/pyfraglib"
    }
    workstation {
        process.executor = "local"
        params.conda_env = "pyfraglib"
    }
}
