// This file is part of `pyfraglib`, a software suite to calculate fragmentomics
// features from cfDNA and perform downstream analyses.
//
// Copyright (C) 2024 Daniel Schütte, daniel.schuette@iccb-cologne.org
//
// This program is free software: you can redistribute it and/or modify it under
// the terms of the GNU General Public License as published by the Free Software
// Foundation, either version 3 of the License, or (at your option) any later
// version. This program is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
// FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
// more details. You should have received a copy of the GNU General Public
// License along with this program. If not, see <https://www.gnu.org/licenses/>.
params {
    user = "dschuet7"
    account = "ag-schwarzr"
    job_name = "pyfraglib-nf"
    work_dir = "/scratch/dschuet7/nf_work"
    log_dir = "/scratch/dschuet7/nf_log"
    out_dir = "/scratch/dschuet7/nf_out"
    sample_tbl = "/home/dschuet7/data/project-lymphoma-cfdna/pyfrag_sample_tbl.tsv"
}

workDir = "${params.work_dir}"

process {
    withLabel: "serial" {
        cpus = 1
        memory = 8.GB
    }
    withLabel: "parallel" {
        cpus = 8
        memory = 16.GB
    }
}

profiles {
    ramses {
        process.executor = "slurm"
        process.queue = "smp"
        process.clusterOptions = "--mail-user='${params.user}@uni-koeln.de' --mail-type=NONE -e ${params.log_dir}/${params.job_name}_%j.err -o ${params.log_dir}/${params.job_name}_%j.out"
        executor {
            account = "${params.account}"
            jobName = "${params.job_name}"
        }
        params.conda_env = "pyfraglib"
    }
    workstation {
        process.executor = "local"
        params.conda_env = "pyfraglib"
    }
}
